.container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

/* Margin & space */
.space-y-2>*+* {
    margin-top: 0.5rem;
}

.space-y-4>*+* {
    margin-top: 1rem;
}

.space-x-2>*:not(:last-child) {
    margin-right: 0.5rem;
    /* 0.5rem = 8px, equivalent to Tailwind's spacing scale */
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-6 {
    margin-top: 2rem;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

/* Position */
.relative {
    position: relative
}

.absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.bottom-4 {
    bottom: 2.5rem;
}

.right-0 {
    right: 0;
}

.left-0 {
    right: 0;
}

.left-5 {
    left: 1.5rem;
}

.top-1\/2 {
    top: 50%;
}

.left-1\/2 {
    left: 50%;
}

.right-1\/2 {
    right: 50%;
}

.transform-center {
    transform: translate(-50%, -50%);
}

/* DIsplay */
.inline-block {
    display: inline-block;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}



.flex {
    display: flex;
}

.flex-none {
    flex: none;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.min-h-screen {
    min-height: 100vh;
}



.overflow-hidden {
    overflow: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.inset-0 {
    inset: 0;
}

/* z-index */
.-z-50 {
    z-index: -50;
}

.-z-10 {
    z-index: -10;
}

/* Border */
.border {
    border: 1px solid #bbb;
}

.border-b-1 {
    border-bottom: 1px solid #bbb
}

.border-r-1 {
    border-right: 1px solid #bbb;
}

.rounded-full {
    border-radius: 100%;
}

.rounded-3 {
    border-radius: 1.5rem;
}

/* Font */
.font-medium {
    font-weight: 400;
}

.font-semibold {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-mollie {
    font-family: var(--font-molle);
}

.font-lato {
    font-family: var(--font-lato);
}

/* Text */
.text-center {
    text-align: center;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
}

.text-lg {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.75rem;
    /* 28px */
}

.text-xl {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
}

.text-2xl {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
}

.text-4xl {
    font-size: 2rem;
    /* 24px */
    line-height: 1rem;
    /* 32px */
}

.text-5xl {
    font-size: 2.5rem;
    /* 24px */
    line-height: 3rem;
    /* 32px */
}

.text-6xl {
    font-size: 3rem;
    /* 48px */
    line-height: 2rem;
    /* 32px */
}

.text-8xl {
    font-size: 4.5rem;
    line-height: 2rem;
}

.cursor-pointer {
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}

/* Opacity */
.opacity-60 {
    opacity: 60%;
}

.opacity-0 {
    opacity: 0;
}

.opacity-full {
    opacity: 100%;
}

/* Gap */
.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-6 {
    gap: 2rem;
}

.gap-8 {
    gap: 3rem;
}

/* padding */
.p-4 {
    padding: 1rem;
}

.p-8 {
    padding: 2rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.pl-10 {
    padding-left: 2.5rem;
}

.pr-10 {
    padding-right: 2.5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}


.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* Scroll */
.scroll-smooth {
    scroll-behavior: smooth;
}