@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "mollie";
    src: url('/assets/fonts/Mollie\ Glaston.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #fff;
    --secondary-color: #FCFAF0;
    --third-color: #45726C;
    --border-color: #657E68;
    --font-color: #000000;
    --font-lato: "Lato", serif;
    --font-molle: "mollie", serif;
}

/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

li {
    cursor: pointer;
}

/* Global styles */
body {
    font-family: var(--font-lato);
    color: var(--font-color);
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.w-scroll-0::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.w-scroll-0 {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Header styles */

.nav-links li a {
    color: var(--font-color);

}

.skew-hover {
    position: relative;
    padding: 10px 30PX 10PX 30PX;
}

.skew-hover:hover::after {
    content: '';
    position: absolute;
    transform: skew(-45deg);
    border: 1px solid var(--border-color);
    border-radius: 100%;
    padding: 26px;
    inset: 0;

}

/* background Dim effect */
.bottom-dim {
    position: absolute;
    width: 454px;
    height: 454px;
    background-color: rgba(249, 241, 206, 0.8);
    box-shadow: 0px 0px 90px 90px rgba(249, 241, 206, 0.8);
    border-radius: 100%;
    right: 0;
    bottom: -20%;
    z-index: -9999;
}

.top-dim {
    position: absolute;
    width: 454px;
    height: 454px;
    background-color: rgb(247, 230, 217, 0.8);
    box-shadow: 0px 0px 90px 90px rgb(247, 230, 217, 0.8);
    border-radius: 100%;
    left: -200px;
    top: 0;
    z-index: -9999;
}

/* Section styles */
/* Category */
.cat-item-img {
    width: 200px;
    height: 200px;
    z-index: -9999;
}

.cat-item {
    cursor: pointer;
}

.cat-item:hover img {
    opacity: 1;
}

.cat-item:hover h2 {
    opacity: 50%;
}

.about {
    text-align: center;
}

.services ul {
    padding-left: 20px;
    list-style-type: disc;
}


/* Card */
.cartImage {
    border-radius: 6%;
}

.cartImage img {
    width: 100%;
}

/* Button */
.successBtn {
    background-color: var(--third-color);
    color: var(--primary-color);
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 15px 20px 15px 20px;
    font-weight: 400;
    font-family: var(--font-lato);
}

.infoBtn {
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid;
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 15px 20px 15px 20px;
    font-weight: 400;
    font-family: var(--font-lato);
}

.card-2.even {
    background: linear-gradient(90deg, hsla(49, 78%, 89%, 1) 0%, hsla(0, 0%, 100%, 1) 62%);
    ;
}

.card-2.odd {
    background: linear-gradient(90deg, hsla(26, 65%, 91%, 1) 0%, hsla(0, 0%, 100%, 1) 62%);
}

.card-2 {
    height: 400px;
    width: 760px;
    border-radius: 24px;
    overflow: hidden;
}

/* Banner */
.sub-banner .info {
    background-color: var(--third-color);
    color: var(--primary-color);
    font-weight: 400;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

/* News letter */
.newsletter {
    background: linear-gradient(rgba(69, 114, 108, 0.7), rgba(69, 114, 108, 0.7)), url('./assets/products/product4.jpg') center/cover;
    color: white;
    height: 486px;
}

.emailField {
    background: var(--primary-color);
    border-radius: 100px;
    height: 80px;
    width: 599px;
    overflow: hidden;
    display: flex;
}

.emailField input {
    flex: 1;
    padding: 0 10px 0 30px;
    border: none;
    outline: none;
}

/* Accordion */

.accordion-item {
    background-color: #F9F9F9;
}

.accordion-content {
    padding: 10px;
    display: none;
}

.accordion-header:active+.accordion-content,
.accordion-header:focus+.accordion-content {
    display: block;
}

/* Footer styles */
.main-footer {
    background: var(--secondary-color);
}

.lastFooter {
    border-top: 1px solid var(--third-color);
    height: 75px;
}

.main-footer .socialLogo {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid var(--border-color);
}


/* Video Slider */
/* Slider container styles */
.slider {
    /* background-color: red; */
    /* margin: 0 auto; */
    /* overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.slider-container {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.slider-item {
    /* flex: 0 0 auto; */
    opacity: 0.6;
    transform: scale(0.8);
    transition: transform 0.5s, opacity 0.5s;
    border-radius: 24px;
    overflow: hidden;
    width: 424px;
    height: 511px;
}

.slider-item.active {
    opacity: 1;
    transform: scale(1);
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Navigation Buttons */
.slider-button {
    width: 56px;
    height: 56px;
    background: transparent;
    border: 1px solid #bbb;
    cursor: pointer;
    z-index: 2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Explore Gallery */
.gallaryImage {
    width: 424px;
    height: 424px;
    overflow: hidden;
}

/* Testing */
.body2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .carousel {
    position: relative;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
} */

/* 
.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.controls {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
} */

/* button {
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
} */

/*  */


/*Slider Classes*/
.cascade-slider_container {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 25px auto;
    padding-top: 150px;
    overflow-x: hidden;
}

.cascade-slider_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.3);
    transition: all 1s ease;
    /* opacity: 0; */
    /* z-index: -1; */
    /* text-align: center; */
}

.cascade-slider_item.next {
    /* left: 50%; */
    transform: translateY(-50%) translateX(-135%) scale(0.8);
    filter: brightness(80%);
    opacity: 0.5;
    z-index: 1;
}

.cascade-slider_item.prev {
    /* left: 50%; */
    transform: translateY(-50%) translateX(35%) scale(0.8);
    filter: brightness(85%);
    opacity: 0.5;
    z-index: 1;
}

.cascade-slider_item.now {
    /* top: 50%;
    left: 50%; */
    transform: translateY(-50%) translateX(-50%) scale(1);
    opacity: 1;
    z-index: 5;
}

.cascade-slider_arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 5;
}

.cascade-slider_arrow-left {
    left: 20px;
}

.cascade-slider_arrow-right {
    right: 20px;
}

.cascade-slider_arrow-left img {
    height: 40px;
    left: 40px;
}

.cascade-slider_arrow-right img {
    height: 40px;
    left: 40px;
}

/* .cascade-slider_nav {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 5;
}

.cascade-slider_dot {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #4196EF;
    margin: 3px;
    transition: all 0.5s;
    background: none;
    list-style: none;
    cursor: pointer;
    border-radius: 50px;
}

.cascade-slider_dot:hover {
    background: #2c8fab;
}

.cascade-slider_dot.cur {
    background: #2c8fab;
    width: 17px;
    height: 17px;

} */

/*Profile card classes*/
.card {
    background-color: #fff;
    color: #243C82;
    width: 450px;
    height: 215px;
    border-radius: 20px;
    transition: all 1s 0s;
    vertical-align: middle;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

/* .photo {
    width: 50%;
    vertical-align: middle;
    display: inline;
    overflow: hidden;
} */

.photo img {
    /* transform: translateY(-35px) translateX(-10px); */
    height: 100%;
    width: 100%;
    object-fit: cover;

}